<app-toolbar></app-toolbar>
<div class="app-content">
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm">
        <mat-card>

            <mat-card-header>
                <div md-card-avatar></div>
                <mat-card-title>Sign up</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <p>
                    <mat-input-container>
                        <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="model.name" required>
                    </mat-input-container>
                </p>
                <p>
                    <mat-input-container>
                        <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="model.email" required>
                    </mat-input-container>
                </p>
                <p>
                    <mat-input-container>
                        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="model.password" required>
                    </mat-input-container>
                </p>
                <p>

                    <mat-input-container>
                        <input matInput type="password" placeholder="Password Confirmation" name="password_confirmation" [(ngModel)]="model.password_confirmation" required>
                    </mat-input-container>
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button [disabled]="!f.form.valid"> Register </button>
                <button mat-raised-button [routerLink]="['/login']"> Cancel </button>

                <div *ngIf="error">{{error}}</div>
            </mat-card-actions>
        </mat-card>
    </form>


</div>