<md-toolbar color="primary">
  <a class="app-icon-button" [routerLink]="['/']">
    <i class="material-icons app-toolbar-menu">home</i>
  </a>    
 <!-- This fills the remaining space of the current row -->
    {{title}}
  <span class="app-toolbar-filler"></span>  
  <a md-button href="https://meiordac.github.io/">Personal</a>
  <a md-button href="https://meiordac.github.io/personal-blog/">Blog</a>

  <!-- menu opens when trigger button is clicked -->
  <button md-icon-button [mdMenuTriggerFor]="menu">
   <md-icon>more_vert</md-icon>
</button>


</md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <div *ngIf="user">
      <button md-menu-item [routerLink]="['/addpost']"> Add post </button>
      <button md-menu-item (click)="logout()">Log out</button>
    </div>
    <div *ngIf="!user">
      <button md-menu-item [routerLink]="['/register']">Register</button>
      <button md-menu-item [routerLink]="['/login']">Log in</button>
    </div>
  </md-menu>
<br/>