<app-toolbar></app-toolbar>
<div class="app-content">
    <div class="containerX">
        <form #CreatePostForm="ngForm">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar></div>
                    <mat-card-title>Create post</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container">
                        <div fxLayout="row" fxLayout.xs="column">
                            <mat-form-field>
                                <input mdInput name="title" placeholder="Title" [(ngModel)]="model.title" required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field>
                                <textarea mdInput name="content" placeholder="Content" [(ngModel)]="model.content" required></textarea>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field>
                                <input mdInput name="image" placeholder="Image" [(ngModel)]="model.image">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <button mat-raised-button (click)="addPost()" [disabled]="!CreatePostForm.form.valid"> Create</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>