<app-toolbar></app-toolbar>
<div class="app-content">
    <div class="containerX">
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <mat-card class="login-card">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Log in</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row" class="container">

                        <mat-form-field>
                            <input matInput name="user" placeholder="Email" formControlName="email"  >
                            <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" class="container">

                        <mat-form-field class="form-field">
                            <input matInput name="password" formControlName="password" type="password" placeholder="Password"  autocomplete="password" />
                            <button mat-button *ngIf="loginForm.value.password" matSuffix mat-icon-button aria-label="Clear" (click)="loginForm.controls.password.reset()">
                                      <mat-icon>close</mat-icon>
                                    </button>
                        </mat-form-field>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button [disabled]="!loginForm.valid"> Login </button>
                    <div *ngIf="error">{{error}}</div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
