<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
<md-nav-list>
   <a md-list-item href={{github}} > <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i></span>  </a>
   <a md-list-item href={{linkedin}}>   
     <span class="fa-stack fa-lg">
       <i class="fa fa-circle fa-stack-2x"></i>
       <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span> </a>
   <a md-list-item href={{stackoverflow}}> 
     <span class="fa-stack fa-lg">
       <i class="fa fa-circle fa-stack-2x"></i>
       <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i></span> </a>
</md-nav-list>

  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    {{title}}
    <span class="app-toolbar-filler"></span>

  </md-toolbar>
<br/>
<router-outlet></router-outlet>

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      <i class="fa fa-rss fa-2x fa-inverse"></i></div>
  </div>

<div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href={{personal}}>Personal Web</a></li>
      <li><a href="{{github}}personal-blog">Blog Repository</a></li>
    </ul>
</div>
</footer>

</md-sidenav-layout>