<app-toolbar></app-toolbar>
<div class="app-content">
  <div class="containerX">
    <h1>Login</h1>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div fxLayout="row" class="container">
        <md-input-container>
          <input mdInput name="user" placeholder="Email" [(ngModel)]="model.email" required>
        </md-input-container>
      </div>
      <div fxLayout="row" class="container">
        <md-input-container>
          <input mdInput name="password" placeholder="Password" type="password" [(ngModel)]="model.password" 
            required>
        </md-input-container>
      </div>
      <button md-raised-button [disabled]="!loginForm.form.valid"> Login </button>
    </form>
    <div *ngIf="error">{{error}}</div>
  </div>
</div>
