<app-toolbar></app-toolbar>
<div class="app-content">
    <div class="containerX">
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <mat-card class="login-card">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Log in</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row" class="container">

                        <mat-form-field class="example-full-width">
                            <input matInput name="user" placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="model.email">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" class="container">

                        <mat-form-field class="example-form-field">
                            <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="model.password" />
                            <button mat-button *ngIf="model.password" matSuffix mat-icon-button aria-label="Clear" (click)="model.password=''">
                                      <mat-icon>close</mat-icon>
                                    </button>
                        </mat-form-field>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button [disabled]="!loginForm.form.valid"> Login </button>
                    <div *ngIf="error">{{error}}</div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>