<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="app-icon-button" [routerLink]="['/']">
            <i class="material-icons app-toolbar-menu">home</i>
        </a>
        <!-- This fills the remaining space of the current row -->
        {{title}}
        <span class="app-toolbar-filler"></span>
        <a mat-button href="https://meiordac.github.io/">Personal</a>
        <a mat-button href="https://meiordac.github.io/personal-blog/">Blog</a>

        <!-- menu opens when trigger button is clicked -->

        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    </mat-toolbar-row>
</mat-toolbar>





<mat-menu #menu="matMenu">

    <div *ngIf="user">
        <button mat-menu-item [routerLink]="['/addpost']"> Add post </button>
        <button mat-menu-item (click)="logout()">Log out</button>
    </div>
    <div *ngIf="!user">
        <button mat-menu-item [routerLink]="['/register']">Register</button>
        <button mat-menu-item [routerLink]="['/login']">Log in</button>
    </div>
</mat-menu>

<br/>