<div class="content" *ngFor="let post of posts" >   
     <md-card >
      <md-card-header>
      <img md-card-avatar src={{post.avatar}}>
      <md-card-title>{{post.title}}</md-card-title>
      <md-card-subtitle> {{post.author}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src={{post.image}}>
   <md-card-content>
      <p>{{post.content}}</p>
   </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="gotoDetail(post)">SEE MORE</button>
   </md-card-actions>
   </md-card>
   <br/>
 </div>
