<app-toolbar></app-toolbar>
<div class="container">
        <div class="brick" *ngFor="let post of posts">
            <mat-card class="post-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle>by {{post.author}} on {{post.published_at | date:'fullDate'}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{post.image}}">
                <mat-card-content>
                    <span class="postcontent" [innerHTML]="post.content | newlines | slice:0:300"></span>...
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="gotoDetail(post)">SEE MORE</button>
                </mat-card-actions>
            </mat-card>
        </div>
</div>