<md-card >
<md-card-actions>
  <md-input #commentInput placeholder="Join the discussion" style="width: 90%"></md-input>
  <button md-raised-button (click)="addComment(commentInput.value); commentInput.value='' "> <i class="fa fa-check" aria-hidden="true"></i> </button>
</md-card-actions>
</md-card>
<md-card *ngFor="let comment of comments" >
    <md-card-header>
      <img md-card-avatar src={{comment.avatar}}>
      <md-card-title>{{comment.author}} </md-card-title>
      <md-card-subtitle> {{comment.published_at | date}} </md-card-subtitle>
      </md-card-header>
   <md-card-content>
     <div class="postcomments">
     <p>{{comment.content}}</p>
     </div>
   </md-card-content>
         <md-card-actions>
        <button md-raised-button (click)="upvote(comment)"><i class='fa fa-thumbs-up'></i> </button>
        <button md-raised-button (click)="downvote(comment)"><i class='fa fa-thumbs-down'></i> </button>
   </md-card-actions>
</md-card>
<br/>
